{% extends 'co-ordinator-header.html'%}
{% block title %}All Students{% endblock %}
{% block body%}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <button class="btn" onclick="history.back()" style="margin-left: -10px;">
                    <i class="pe-7s-left-arrow pe-2x"></i>
                </button>
            </div>
            <div>
                Digikull Learning Center
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header p-2" style="height: 5rem;">
                <div class="p-2 flex-fill d-flex justify-content-start">
                    <div class="card-title mt-2">All Student Details</div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <div class="position-relative form-group d-flex justify-content-end">
                        <select class="form-control" name="state" id="maxRows">  
                            <option value="5">5 Per Page</option>
                            <option value="10">10 Per Page</option>
                            <option value="15">15 Per Page</option>
                            <option value="20">20 Per Page</option>
                            <option value="50">50 Per Page</option>
                            <option value="70">70 Per Page</option>
                            <option value="100">100 Per Page</option>
		            <option value="5000">Show ALL Records</option>
                        </select>
                        <div class="input-group ml-5">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="pe-7s-search">
                                    </i></span></div>
                            <input placeholder="Type Student Name" id="myInput" onkeyup="mySearchFunction()" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative form-group d-flex">
                    </div>
                </div>
                <div class="form-group">
                    <!--        Show Numbers Of Rows        -->
                </div>
                <div class="table-responsive">
                    <table id="myTable" class="mb-0 table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Student Email</th>
                                <th>Batch Name</th>
                                <th>Status</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in resultset %}
                            <tr>
                                <td>
                                    <a href="/studentattendancedetails/{{i.StudentId}}" class="btn b-btn form-control">{{i.StudentName}}</a>
                                </td>
                                <td>{{i.StudentEmail}}</td>
                                <td>{{i.BatchName}}</td>
                                <td>{{i.Status}}</td>
                                <td>{{i.StartDate|date:"M d, Y"}}</td>
                                <td>{{i.EndDate|date:"M d, Y"}}</td>
                                <td>
                                    <button type="button" class="btn mr-2 mb-2" data-toggle="modal" data-target="#exampleModal{{i.StudentId}}" style="color: #FFDE59;background: #1B1642;">
                                        <i class="pe-7s-pen"></i>
                                    </button>
                                    <div class="modal fade mt-5" id="exampleModal{{i.StudentId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button class="btn b-btn form-control" onclick="location.href = '/student_status_update/{{i.StudentId}}';">Status Update</button>
                                                        </div>
                                                        <div class="col-md-12 mt-3">
                                                            <button class="btn b-btn form-control" onclick="location.href = '/transfer_student/{{i.StudentId}}';">Transfer Student</button>
                                                        </div>
                                                        <div class="col-md-12 mt-3">
                                                            <button class="btn b-btn form-control" onclick="location.href = '/student_notes/{{i.StudentId}}';">Comment</button>
                                                        </div>
                                                        <div class="col-md-12 mt-3">
                                                            <button class="btn b-btn form-control" onclick="location.href = '/transfer_student/{{i.StudentId}}';">Upload Assignment</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!--        Start Pagination -->
                    <div class="pagination-container mt-3 float-right" id="paginationnav">
                        <nav class="" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li data-page="prev">
                                    <span class="page-link">
                                        << <span class="sr-only">(current)
                                    </span></span>
                                </li>
                                <!-- Here the JS Function Will Add the Rows -->
                                <li data-page="next" id="prev">
                                    <span class="page-link"> >> <span class="sr-only">(current)</span></span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
getPagination('#myTable');
//getPagination('.table-class');
//getPagination('table');

/*                    PAGINATION 
- on change max rows select options fade out all rows gt option value mx = 5
- append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
- each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
- fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
- fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows 
*/


function getPagination(table) {
    var lastPage = 1;

    $('#maxRows')
        .on('change', function(evt) {
            //$('.paginationprev').html('');                      // reset pagination

            lastPage = 1;
            $('.pagination')
                .find('li')
                .slice(1, -1)
                .remove();
            var trnum = 0; // reset tr counter
            var maxRows = parseInt($(this).val()); // get Max Rows from select option

            if (maxRows == 5000) {
                $('.pagination').hide();
            } else {
                $('.pagination').show();
            }

            var totalRows = $(table + ' tbody tr').length; // numbers of rows
            $(table + ' tr:gt(0)').each(function() {
                // each TR in  table and not the header
                trnum++; // Start Counter
                if (trnum > maxRows) {
                    // if tr number gt maxRows

                    $(this).hide(); // fade it out
                }
                if (trnum <= maxRows) {
                    $(this).show();
                } // else fade in Important in case if it ..
            }); //  was fade out to fade it in
            if (totalRows > maxRows) {
                // if tr total rows gt max rows option
                var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
                //  numbers of pages
                for (var i = 1; i <= pagenum;) {
                    // for each page append pagination li
                    $('.pagination #prev')
                        .before(
                            '<li data-page="' +
                            i +
                            '">\
                                  <span class="page-link">' +
                            i++ +
                            '<span class="sr-only">(current)</span></span>\
                                </li>'
                        )
                        .show();
                } // end for i
            } // end if row count > max rows
            $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
            $('.pagination li').on('click', function(evt) {
                // on click each page
                evt.stopImmediatePropagation();
                evt.preventDefault();
                var pageNum = $(this).attr('data-page'); // get it's number

                var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option

                if (pageNum == 'prev') {
                    if (lastPage == 1) {
                        return;
                    }
                    pageNum = --lastPage;
                }
                if (pageNum == 'next') {
                    if (lastPage == $('.pagination li').length - 2) {
                        return;
                    }
                    pageNum = ++lastPage;
                }

                lastPage = pageNum;
                var trIndex = 0; // reset tr counter
                $('.pagination li').removeClass('active'); // remove active class from all li
                $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
                // $(this).addClass('active');                  // add active class to the clicked
                limitPagging();
                $(table + ' tr:gt(0)').each(function() {
                    // each tr in table not the header
                    trIndex++; // tr index counter
                    // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                    if (
                        trIndex > maxRows * pageNum ||
                        trIndex <= maxRows * pageNum - maxRows
                    ) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    } //else fade in
                }); // end of for each tr in table
            }); // end of on click pagination list
            limitPagging();
        })
        .val(5)
        .change();

    // end of on select change

    // END OF PAGINATION
}

function limitPagging() {
    // alert($('.pagination li').length)

    if ($('.pagination li').length > 7) {
        if ($('.pagination li.active').attr('data-page') <= 3) {
            $('.pagination li:gt(5)').hide();
            $('.pagination li:lt(5)').show();
            $('.pagination [data-page="next"]').show();
        }
        if ($('.pagination li.active').attr('data-page') > 3) {
            $('.pagination li:gt(0)').hide();
            $('.pagination [data-page="next"]').show();
            for (let i = (parseInt($('.pagination li.active').attr('data-page')) - 2); i <= (parseInt($('.pagination li.active').attr('data-page')) + 2); i++) {
                $('.pagination [data-page="' + i + '"]').show();

            }

        }
    }
}
</script>
<!-- <script type="text/javascript">
$('#myTable').after('<nav id="paginationnav" class="mt-3 float-right"><ul class="pagination" id="nav" ></ul></nav>');
var rowsShown = 75;
var rowsTotal = $('#myTable tbody tr').length;
var numPages = rowsTotal / rowsShown;
for (i = 0; i < numPages; i++) {
    var pageNum = i + 1;
    $('#nav').append('<li class="page-item"><a class="page-link" href="#" rel="' + i + '">' + pageNum + '</a></li>');
}
$('#myTable tbody tr').hide();
$('#myTable tbody tr').slice(0, rowsShown).show();
$('#nav a:first').addClass('active');
$('#nav a').bind('click', function() {

    $('#nav a').removeClass('active');
    $(this).addClass('active');
    var currPage = $(this).attr('rel');
    var startItem = currPage * rowsShown;
    var endItem = startItem + rowsShown;
    $('#myTable tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
    css('display', 'table-row').animate({ opacity: 1 }, 300);
});
</script> -->
<script type="text/javascript">
function mySearchFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
{% endblock %}