{% extends 'co-ordinator-header.html'%}
{% block title %}Create New Meetings{% endblock %}
{% block body%}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <button class="btn" onclick="history.back()" style="margin-left: -10px;">
                    <i class="pe-7s-left-arrow pe-2x"></i>
                </button>
            </div>
            <div>Create New Meetings
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
            {% for message in messages%}
            <div class="page-title-heading m-auto">{{message}}</div>
            {% endfor %}
    </div>
</div>
<div class="container">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <!-- <h5 class="card-title">Controls Types</h5> -->
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label>Subject</label>
                  <input class="form-control" name="ev-subject" type="text">
                </div>
                <div class="form-group">
                  <label>Attendees</label>
                  <input id="textresults"class="form-control" name="ev-attendees" type="text"
                    placeholder="separate multiple email addresses with a semicolon (';')">
                </div>
                <div class="form-group">
                  <input id="batchval"class="form-control" name="batchval" type="text"
                    placeholder="" hidden>
                </div>
                <div class="form-group">
                  <label>Add Batches</label>
                  
                  <select name ="ddselect" id="ddselect" class="form-control-sm custom-select" >
                    {% for i in batches %}
                    <!-- <option value = {{i.BatchEmail}} selected>{{i.BatchName}};</option> -->
                    <option value = {{i.BatchEmail}};{{i.BatchId}} selected>{{i.BatchName}};</option>
                    {% endfor %}
                  </select>
                  
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label>Start</label>
                      <input class="form-control" name="ev-start" type="datetime-local">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>End</label>
                      <input class="form-control" name="ev-end" type="datetime-local">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label>Body</label>
                  <textarea class="form-control" name="ev-body" rows="3"></textarea>
                </div>
                <input class="btn btn-primary mr-2" type="submit" value="Create" />
                <a class="btn btn-secondary" href="/calendar">Cancel</a>
              </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script>
  $(function(){
    $("#ddselect").change(function(){
      document.getElementById("ddselect").multiple = true;
      
      var displayBatchemail=$("#ddselect").val();
      console.log(displayBatchemail)
      for (let i = 0, len = displayBatchemail.length, text = ""; i < len; i++) {
          var myArray = displayBatchemail[i].split(";")
          var BatchId = myArray[1]
          text += BatchId + ";";
          // console.log(text)
          $('#batchval').val(text);
        }
      var displayBatchemail=$("#ddselect").val();
      // console.log(displayBatchemail)
      // var displayBatchemail = displayBatchemail.spilt(";")
      // console.log(displayBatchemail)
      for (let i = 0, len = displayBatchemail.length, text = ""; i < len; i++) {
          var myArray = displayBatchemail[i]
          var myArray = myArray.split(";")[0]
          text += myArray + ";";
          console.log(text)
          $("#textresults").val(text);
        }
        // $("#textresults").val(displayBatchemail);
      //   }
    })
  })
</script>

{% endblock %}