{% extends 'student-header.html'%}
{% block title %}My Attendance{% endblock %}
{% block body%}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <button class="btn" onclick="history.back()" style="margin-left: -10px;">
                    <i class="pe-7s-left-arrow pe-2x"></i>
                </button>
            </div>
            <div>Digikull Learning Center
                <!-- <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                                    </div> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header p-2" style="height: 5rem;">
                <div class="p-2 flex-fill d-flex justify-content-start">
                    <div class="card-title mt-2">My Details </div>
                </div>
                <!-- <div class="p-2 flex-fill d-flex justify-content-end">
                            <button class="btn c-btn p-2 mt-2 mr-2">View Attendance Details</button>
                            <button class="btn c-btn p-2 mt-2">View Assignment Details</button>
                        </div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="myTable1" class="mb-0 table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Batch Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in stu_det %}
                            <tr>
                                <td>{{i.StudentId.StudentName}}</td>
                                <td>{{i.StudentId.StudentEmail}}</td>
                                <td>{{i.BatchId.BatchName}}</td>
                                <td>{{i.StartDate}}</td>
                                <td>{{i.EndDate}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header p-2" style="height: 5rem;">
                <div class="p-2 flex-fill d-flex justify-content-start">
                    <div class="card-title mt-2">My Attendance Details</div>
                </div>
                <!-- <div class="p-2 flex-fill d-flex justify-content-end">
                            <button class="btn c-btn p-2 mt-2 mr-2">View Attendance Details</button>
                            <button class="btn c-btn p-2 mt-2">View Assignment Details</button>
                        </div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="myTable" class="mb-0 table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Batch Name</th>
                                <th>Session Name</th>
                                <th onclick="sortTable()">Session Date</th>
                                <th>Join Time</th>
                                <th>Leave Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in st_att_sum %}
                            <tr>
                                <td>{{i.StudentName}}</td>
                                <td>{{i.BatchName}}</td>
                                <td>{{i.sessiontitle}}</td>
                                <td>{{i.SessionStartDate|date:"M d, Y"}}</td>
                                <td>{{i.JoinTime}}</td>
                                <td>{{i.LeaveTime}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("td")[3];
      y = rows[i + 1].getElementsByTagName("td")[3];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
{% endblock %}