{% extends 'co-ordinator-header.html'%}
{% block title %}Add Note{% endblock %}
{% block body%}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <button class="btn" onclick="history.back()" style="margin-left: -10px;">
                    <i class="pe-7s-left-arrow pe-2x"></i>
                </button>
            </div>
            <div>Student Notes
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        {% for message in messages%}
        <div class="page-title-heading m-auto">{{message}}</div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <!-- <h5 class="card-title">Controls Types</h5> -->
            <form class="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="position-relative form-group col-md-12">
                        <label for="SelectBatch" class="">Write Note*</label>
                        <textarea class="form-control" name="student_note" id="student_note" rows="4" required></textarea>
                    </div>
                    <div class="position-relative form-group col-md-6">
                        <label for="BatchStartDate" class="">Notes Date*</label>
                        <input name="notes_date" id="notes_date" type="date" value="" class="form-control" required>
                    </div>
                    <div class="position-relative form-group col-md-6">
                        <label for="StudentEmail" class="">Editor Name*</label>
                        <input name="notes_editor" id="notes_editor" type="text" class="form-control" value="" placeholder="Enter Editor Name" required>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-end">
                    <button class="mt-1 btn b-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}